.header__pseudo-radio {
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 1.17;
    margin: 8px;
    transition: opacity .5s;
}

.header__pseudo-radio:hover {
    opacity: .7;
    cursor: pointer;
}

.header__language-option:checked+.header__pseudo-radio {
    text-decoration: underline;
}

.header__language-option:disabled+.header__pseudo-radio {
    cursor: default;
    color: #eee;
}

.header__language-option:disabled:checked+.header__pseudo-radio {
    cursor: default;
    text-decoration: underline;
    color: #eee;
}

.header__language-option:focus+.header__pseudo-radio {}