.article__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 48px;
}

@media screen and (max-width:1024px) {
    .article__text {
        padding: 0 24px;
    }
}

@media screen and (max-width:768px) {
    .article__text {
        padding: 0 16px;
    }
}