.cover {
    max-width: 1184px;
    margin: 92px auto;
    width: 100%;
    position: relative;
}

.cover:hover {
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .cover {
        margin: 90px auto;
    }
}

@media screen and (max-width:320px) {
    .cover {
        margin: 64px auto;
    }
}