.lead__caption {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 10px auto;
}

@media screen and (max-width:1024px) {
    .lead__caption {
        padding: 0 24px;
    }
}

@media screen and (max-width:768px) {
    .lead__caption {
        padding: 0 16px;
    }
}