.article__content {
    display: flex;
    padding-top: 48px;
    gap: 40px;
}

@media screen and (max-width:1279px) {
    .article__content {
        gap: 32px;
    }
}

@media screen and (max-width:1023px) {
    .article__content {
        gap: 28px;
    }
}

@media screen and (max-width:767px) {
    .article__content {
        flex-direction: column;
        padding-top: 32px;
    }
}